<h3>Agregar</h3>
        <!-- <form action="" (submit)="agregar($event)"> -->
        <form action="" (ngSubmit)="agregar()">
            <h3><small>{{nuevo.nombre}}</small></h3>
            <input 
                type="text" 
                placeholder="Nombre"
                name="nombre"
               [(ngModel)]="nuevo.nombre" > 
                <!-- [value]="nuevo.nombre"
                (input)="cambiarNombre($event)" -->
            <input 
                type="number" 
                placeholder="Numero"
                name="poder"
                [(ngModel)]="nuevo.poder">
            <button>
                Agregar
            </button> 
        </form>